* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    background: rgb(255,163,120);
    background: linear-gradient(180deg, rgba(255,163,120,1) 25%, rgba(255,140,125,1) 83%);
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 8%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFE8D0;
    position: absolute;
    top: 0;
    left: 0;
}
#nav1 {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#icon {
    height: 20px;
    width: auto;
    margin: 10px;
}
.icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 10%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f7f8fa;
    border-radius: 25px;
    box-shadow: 0px 4px 24px 0px rgba(239, 89, 8, 0.50);
    height: 600px;
    width: 400px;
}

.profile-edit-box {
    border-radius: 25px;
    background: rgba(247, 248, 250, 0.85);
    box-shadow: 0px 4px 24px 0px rgba(239, 89, 8, 0.50);
    height: 600px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#imagen{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    background-color: #F37171;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    display: flex;
    justify-content: center;
}

.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#upload-photo {
    width: 190px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: white;
    background-color: #F37171;
    margin-top: 24px;
    margin-bottom: 20px;
}

#upload-photo:hover {
    width: 190px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: white;
    background-color: #ff764d;
    margin-top: 24px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#save-changes {
    width: 190px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    color: white;
    background-color: #F37171;
    margin-top: 24px;
    margin-bottom: 20px;
}

#save-changes:hover {
    width: 190px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    color: white;
    background-color: #ff764d;
    margin-top: 24px;
}

.inputs{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid coral;
    background: transparent;
    padding: 1%;
}

.input-text{
    margin-top: 40px;
    font-size: 13px;
}

