body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0; 
    background-color: #FFE8D0;
}

nav {
    height: 8%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFE8D0;
    position: absolute;
    top: 0;
    left: 0;
}
#nav1 {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#icon {
    height: 20px;
    width: auto;
    margin: 10px;
}
.icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 10%;
}

p {
color: rgb(82, 82, 82);
}

#banner {
    width: 100vw;
    height: 40vh;
    background-image: url(https://github.com/pucapin/TheCozyStitch/raw/main/crochetmarket-main/pics/productbanner.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.categorias {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px; 
    justify-content: left;
    text-align: left;
}

.products {
    width: 80vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#productos2 {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-around; 
    padding: 20px; 
    box-sizing: border-box; 
}
#resultados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;

}

#filtros {
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    color: #f86779;
    margin-bottom: 20px; /
}

.barrabuscar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 500px;
    height: 40px;
    border: 1px solid #f86779;
    padding-left: 10px;
}


.productoindividual {
    width: 300px;
    height: 175px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    box-sizing: border-box;  
}

.prod-card {
    display: flex;
    flex-direction: row;
    height: 160px;
    border-radius: 20px;
    background-color:  #faefe3;
    width: 400px;
    
}
.prod-card2 {
    display: flex;
    flex-direction: row;
    height: 160px;
    border-radius: 20px;
    background-color:  #faefe3;
    width: 400px;
    margin: 20px;
    
}
.prod-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.imagenes {
    width: auto;
    height: 80%;
    border-radius: 20px;
    overflow: hidden; 
    margin: 20px;
    display: flex;
    align-items: center;
}

.imagen {
    width: 100%;
    height: auto;
    display: block;
}

.producto-textos2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 140px;
    font-size: 12px;
    padding: 10px; 
}

#cajamadre {
    display: flex;
    width: 100vw;
    height: 100vh; 
}

#noproducts {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#viewall {
    background-color: #f86779;
    width: 100px;
    margin-left: 15px;
    border-radius: 30px;
    color:white;
    border: none;
    height: 20px;
}

#row-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heart {
    cursor: pointer;
    height: 24px;
    width: auto;
    margin-left: 14px;
}