body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    background-color: #FFE8D0;
    margin: none;
}

nav {
    height: 8%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFE8D0;
    position: absolute;
    top: 0;
    left: 0;
}
#nav1 {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#icon {
    height: 20px;
    width: auto;
    margin: 10px;
}
.icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 10%;
}
.hero {
    width: 100%;
    height: 80%;
    background-image: url(https://github.com/pucapin/TheCozyStitch/raw/main/crochetmarket-main/pics/crochethero.jpg);
    background-size: cover ;
    background-position: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viejita {
    position: absolute;
    bottom: 12.5%;
    right: 0%;
    width: 45%;
    height: auto;
}
.whitesq {
    width: 43%;
    height: 47%;
    background-color: rgba(247, 248, 250, 0.80);
    backdrop-filter: blur(12px);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
#title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
}

#btn-start {
    background-color: #F37171;
    border-radius: 30px;
    width: 200px;
    margin-top: 30px;
    height: 50px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
    
}

#desc {
    margin-bottom: 4px;
    margin-top: 0;
}

.carr {
    width: 90%;
    height: 90%;
    background: rgb(255,190,190);
    background: linear-gradient(90deg, rgba(255,190,190,1) 37%, rgba(255,164,99,1) 73%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

#image-landing {
    height: 80%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 30px;
}
.sec2 {
    margin-top: 5%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

#call {
    width: 26%;
    margin: 75px;
    color: #D32840;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 34px;

}

.sec3 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(pics/picnic.png);
    background-repeat: repeat;
    width: 100%;
    height: 30%;
    background-size: 50%;
    opacity: 70%;
    margin-top: 30px;
}

.crip {
    width: 40%;
    min-height: 40%;
    background-color: #FFBB9D;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1%;
}

#tit {
    background-color: #f76b7d;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

#desk {
    width: 53%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 20px;
    font-size: 100%;
}

.get {
    margin-top: 60px;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 52%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.card {
    height: 50%;
    width: 30%;
    border: 7px, solid, #f76b7d;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

#photo {
    height: 68%;
    margin: 5%;
    width: auto;
    background-color: #ffdede;
    border-radius: 180px;
}

.who {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 4px;
}

.sec4 {
    height: 20%;
    width: 100%;
}

.divi {
    height: 30%;
    background-color: #FFCC7A;
}

#contactus {
    margin-top: 40px;
    color: #d32840;
    margin: 20px;
    padding: 16px;

}
 
.bot {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around
}

#photo2 {
    height: 200px;
    width: auto;
}

#contact {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.carrousel {
    display: flex;
    max-width: 1000px;
    gap:20px;
}
.carrousel.sliding-transition {
    transition: transform 0.5s ease-in-out;
}

.carrousel-img {
    max-height: auto;
    max-width: 380px;
    object-fit: cover;
    border-radius: 30px;
}